h1, h2{
    color: black;
    text-align: center;
    width: 500px;
    border: 6px solid black;
}

p{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;

}

.Bio{
    background-color: bisque;
}

.navbar{
    display: flex;
}

.subnavbar{
    padding: 10px;
}
