.totalmod{
    display: flex;
    flex-wrap: wrap;
}

.mod2{
    padding: 20px;
    border: 10px solid blanchedalmond;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: whitesmoke;
}

.navbar{
    display: flex;
}

.subnavbar{
    padding: 10px;
}


